body {
    background-color: black;
    color: white;
}

h1 {
    font-size: 2rem;
    text-transform: uppercase;
    color:white
}

p {
    font-size: 15px;
}

.div1 {
    width: 60%;
    margin-top: 40px;
    margin-left: 20%;
    margin-bottom: 40px;
    font-family: "Libre Baskerville", serif;
    text-align: center;
} 

img {
    border: 5px solid white;
    width: 70%
}

